body {
  height: 5000px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all .5s linear;
}

.time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.time .bullets {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.time .bullet {
  padding: 10px;
  border-radius: 5px;
  background-color: #000;
  margin: 0 5px;
  color: white;
  cursor: pointer;
}
.time .bullet.active {
  background-color: green;
}
